.db-ref {
  &__path {
    fill: none;
    stroke: var(--ref-color);
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: butt;
  }
  &__hitbox {
    fill: none;
    stroke: transparent;
    //stroke: var(--ref-color);
    stroke-width: 29;

  }

  &__highlight {
    .db-ref__path {
      stroke: var(--ref-highlight-color);
    }
  }

  &__control-point {
    stroke: black;
    stroke-width: 1px;

    &__highlight {
      stroke: var(--ref-highlight-color);
    }

  }
}
