
$table-font-family: 'Maven Pro', monospace !default;
$table-border-width: 2 !default;

$table-header-padding-x: 8px !default;
$table-header-padding-y: 9px !default;

$table-field-padding-x: 8px !default;
$table-field-padding-y: 9px !default;
