@import "jointjs";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200..800&display=swap');

$table-font-family: 'Noto Sans Mono', monospace !default;
$table-border-width: 2 !default;

$table-header-padding-x: 8px !default;
$table-header-padding-y: 9px !default;

$table-field-padding-x: 8px !default;
$table-field-padding-y: 9px !default;

.body {
  &--dark {
    --chart-bg-color: #44444c;
    --ref-color: #9b9ca4;
    --ref-highlight-color: #3ea8de;
    --field-name-color: #d7d7d9;
    --field-type-color: #999;
    --field-bg-color: #37383f;
    --pk-field-color: #d7d7d9;
    --highlight-field-color: #4b4c53;
    --temp-ref-color: #5d5e67;
    --endpoint-color: #d7d7d9;
    --graph-container-bg-color: #37383f;
    --graph-container-color: #d7d7d9;
    --graph-container-color-hover: #fff;
    --table-stroke-color: #222;
    --table-header-color: #222;
    --table-header-fg-color: #FFFFFF;
    --table-group-color: #56565e;
    --table-group-stroke-color: #696969;
    --table-group-name-color: #fbfbfb;
    --table-highlight-stroke-color: #3ea8de;
  }

  &--light {
    --chart-bg-color: #fbfbfb;

    --ref-color: #d3d3d3;
    --ref-highlight-color: #619bcc;

    --field-name-color: #6f6f6f;
    --field-type-color: #999;
    --field-bg-color: #f6f6f6;

    --pk-field-color: #000;
    --highlight-field-color: #deecf3;

    --temp-ref-color: #87cefa;
    --endpoint-color: #000;

    --graph-container-bg-color: #f1f1f1;
    --graph-container-color: #555;

    --table-header-color: #316896;
    --table-header-fg-color: #FFFFFF;

    --table-stroke-color: #ebebeb;
    --table-group-color: #ebebeb;
    --table-group-stroke-color: #dfdfdf;
    --table-group-name-color: #555;
    --table-highlight-stroke-color: #3ea8de;
  }
}

.dbml-graph, .db-chart {
  font-family: $table-font-family;
  font-weight: 400;
  font-size: 13px;

  background-color: var(--chart-bg-color);

  > svg {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .db-chart__bg {
    fill: #6f6f6f;
    width: 100%;
    height: 100%;
  }

  .db-table {
    &-header {
      rect {
        cursor: grab;

        &:active {
          cursor: grabbing;
        }

        &:not([fill]), &[fill="undefined"]{
          fill: var(--table-header-color);
        }
      }


      text, &__name {
        transform: translateX(10px) translateY(.35em);
        font-weight: 700;
        font-size: 16px;
        fill: var(--table-header-fg-color);
        pointer-events: none;
        user-select: none;
      }
    }

    &__highlight {

      overflow:visible;
      .db-table__background {
        stroke: var(--table-highlight-stroke-color);
        stroke-width: 2px;
        stroke-linejoin: round;
        stroke-linecap: round;
        stroke-opacity: 0.6;
      }

      .db-field__ref {
        rect {
          fill: var(--highlight-field-color);
        }
      }
    }
  }

  .db-field {
    vertical-align: middle;
    cursor: default;

    rect {
      fill: var(--field-bg-color);
    }

    text {
      pointer-events: none;
      user-select: none;
    }

    &__name {
      fill: var(--field-name-color);
      font-size: 12px;
      transform: translateX(10px) translateY(.35em);
    }

    &__type {
      font-size: 12px;
      fill: var(--field-type-color);
      text-anchor: end;
      transform: translateX(-10px) translateY(.35em);
    }

    &.db-field--highlight, &__highlight {
      rect {
        fill: var(--highlight-field-color);
      }
    }
  }

  .db-tools {
    &__bg {
      fill: var(--table-header-color);
    }
    text {
      fill: var(--table-header-fg-color);
      transform: translateX(10px) translateY(.35em);
    }
  }

  .db-ref, .ref {
    fill: none;
    stroke: var(--ref-color);
    stroke-width: 2;
    stroke-linejoin: round;
  }
  .grid {
    stroke: #16a085;
    stroke-width: 0.5;
    stroke-opacity: 0;
    transition-property: stroke-opacity;
    transition-duration: 1s;
    pointer-events: none;
  }
}
